[submodule "quadpackcpp"]
	path = submodules/quadpackcpp
	url = https://github.com/top1combata/quadpackcpp.git
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
